/**************
General
**************/
html,body{
  font-family: 'Crimson Pro', serif;
  letter-spacing: 0.1em;
  color: #000000;
  background-color: #ffffff;
  max-width: 100%;
  height:100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

#title{
  margin: 5rem 0 5rem 2rem;
}

#contents{
  padding: 2rem;
}

#moodChecker{
  text-align: center;
  width: 50%;
  float:left;
}

#highFive{
  text-align: center;
  width:50%;
  float:right;
}

#handPositions{
  border: 2px solid #ff8e00ff;
}

#bottomMargin{
  position: fixed;
  left: 0rem;
  bottom: 0rem;
  height: 4rem;
  width: 100%;
  background-color: #ff8e00ff;
}
